* {
  margin: 0;
  padding: 0;
  background-color: #28464B;
}

body, html {
  height: 100%;
}

/*** HEADER ***/

header {
  padding: 10px;
}

header nav {
  margin: 0;
  overflow: hidden;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
}

header nav ul li a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration:none;
  color: #42D9C8;
  border-left: 1px solid #931621;
}

header nav ul li a:hover {
  color: #931621;
}

header nav ul li:first-child {
  margin-right: auto;
}

/*** BODY ***/

h1 {
  margin-bottom: 20px;
  color: #931621;
}

h3 {
  margin-bottom: 15px;
  color: #2C8C99;
}

p {
  color: #E8F1F2;
}

cite {
  font-style: italic;
}

.container {
  float: center;
  overflow: auto;
}

/*** FOOTER ***/

footer {
  padding: 10px;
  text-align: center;
}

footer p {
  color: #42D9C8;
}

.inline_link {
  text-decoration: none;
  color: #42D9C8;
}

.inline_link:hover {
  color: #931621;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #931621;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  color: #42D9C8;
}

/* Twitter */
.fa-android {
  color: #42D9C8;
}

.fa-github {
  color: #42D9C8;
}